VITE_RESEARCH_TENANT=bullsofdhaka
VITE_RESEARCH_MARKET=DSE
VITE_RESEARCH_SITE_URL=https://research.bullsofdhaka.com
VITE_RESEARCH_PORTAL_URL=https://bullsofdhaka.com
VITE_RESEARCH_API_URL=https://api.bullsofdhaka.com
VITE_RESEARCH_PREVIEW=false
